# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [144]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [145]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [147]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [148]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [149]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [150]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [151]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [152]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [153]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [154]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [155]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [156]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [157]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [158]:
data.duplicated().sum()

71

In [159]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [160]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [161]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [162]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [163]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [164]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

In [165]:
data.sample(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
19486,0,376551.738696,59,среднее,1,гражданский брак,1,F,пенсионер,0,98581,жилье,C,операции с недвижимостью
5142,0,2571.569272,43,высшее,0,гражданский брак,1,M,компаньон,0,218263,на проведение свадьбы,B,проведение свадьбы
17510,0,2577.888775,26,высшее,0,женат / замужем,0,M,сотрудник,0,376668,на покупку подержанного автомобиля,B,операции с автомобилем
571,0,628.672620,27,среднее,1,женат / замужем,0,F,госслужащий,0,72020,операции с жильем,C,операции с недвижимостью
15201,2,1728.155853,27,среднее,1,женат / замужем,0,F,компаньон,0,217924,операции со своей недвижимостью,B,операции с недвижимостью

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [206]:
import numpy as np
childrens = data['children'].unique()
childrens = np.sort(childrens)
ratio = []

for count in childrens:
    ratio.append((data[(data['children']==count)&(data['debt']==1)]['children'].count()) / 
                 (data[(data['children']==count)]['children'].count()))
    
temp_df = pd.DataFrame(childrens, columns={'childrens'})
temp_df['category_members'] = data.groupby('children')['children'].count()
temp_df['mean_debt'] = ratio
pd.pivot_table(temp_df, index=['childrens'])

           category_members  mean_debt
childrens
0                     14091   0.075438
1                      4808   0.092346
2                      2052   0.094542
3                       330   0.081818
4                        41   0.097561
5                         9   0.000000

**Вывод:** &nbsp;Чем больше в семье детей, тем больше вероятность возникновения задолженностей.  
&emsp;&emsp;&emsp;&emsp; Наиболее надёжными являются заёмщики без детей, а наименее надёжными - с 4 детьми.  
&emsp;&emsp;&emsp;&emsp;  
&emsp;&emsp;&emsp;&emsp; В данном датасете коэффицент при наличии 5 детей равен нулю, однако это вызвано недостатком данных.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [205]:
family = data['family_status'].unique()
ratio = []

for status in range(len(family)):
    ratio.append((data[(data['family_status']==family[status])&(data['debt']==1)]['family_status'].count()) / 
                 (data[(data['family_status']==family[status])]['family_status'].count()))

temp_df = pd.DataFrame(family, columns={'family_status'})
temp_df['category_members'] = data.groupby('family_status_id')['family_status'].count()
temp_df['mean_debt'] = ratio
pd.pivot_table(temp_df, index=['family_status'])

                       category_members  mean_debt
family_status
Не женат / не замужем              2796   0.097639
в разводе                          1189   0.070648
вдовец / вдова                      951   0.066246
гражданский брак                   4134   0.093130
женат / замужем                   12261   0.075606

**Вывод:** &nbsp;Наиболее надёжные заёмщики - вдовцы/вдовы с коэффицентом 0.066,  
&emsp;&emsp;&emsp;&emsp; а наименее надёжными оказались одинокие люди, К=0.097.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [204]:
income = data['total_income_category'].unique()
ratio = []

for value in range(len(income)):
    ratio.append((data[(data['total_income_category']==income[value])&(data['debt']==1)]['total_income_category'].count()) / 
                 (data[(data['total_income_category']==income[value])]['total_income_category'].count()))

data['total_income_category_id'] = data['total_income_category']
data['total_income_category_id'] = data['total_income_category_id'].replace({'A':0, 'B':1, 'C':2, 'D':3, 'E':4})

temp_df = pd.DataFrame(income, columns={'income_category'})
temp_df['category_members'] = data.groupby('total_income_category_id')['total_income'].count()
temp_df['mean_debt'] = ratio
pd.pivot_table(temp_df, index=['income_category'])

                 category_members  mean_debt
income_category
A                              22   0.080000
B                              25   0.070602
C                            5014   0.084982
D                           15921   0.060172
E                             349   0.090909

**Вывод:** &nbsp;Наиболее надёжными заёмщиками являются люди с уровнем дохода 30-50 тыс. рублей!

&emsp;&emsp;&emsp;&emsp; А самыми ненадёжными - люди с низким уровнем дохода, 0-30 тыс. рублей.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [203]:
purpose = data['purpose_category'].unique()
ratio = []

for value in range(len(purpose)):
    ratio.append((data[(data['purpose_category']==purpose[value])&(data['debt']==1)]['purpose_category'].count()) / 
                 (data[(data['purpose_category']==purpose[value])]['purpose_category'].count()))

data['purpose_category_id'] = data['purpose_category']
data['purpose_category_id'] = data['purpose_category_id'].replace({'операции с недвижимостью':0,
                                                                   'операции с автомобилем':1,
                                                                   'получение образования':2,
                                                                   'проведение свадьбы':3})    

temp_df = pd.DataFrame(purpose, columns={'purpose_category'})
temp_df['category_members'] = data.groupby('purpose_category_id')['purpose'].count()
temp_df['mean_debt'] = ratio
pd.pivot_table(temp_df, index=['purpose_category'])

                          category_members  mean_debt
purpose_category
операции с автомобилем                4279   0.093480
операции с недвижимостью             10751   0.072551
получение образования                 3988   0.092528
проведение свадьбы                    2313   0.079118

**Вывод:** &nbsp;Больше всего должников оказалось с целью операций с автомобилем,  
&emsp;&emsp;&emsp;&emsp; следом за ними - желающие получить образование.  
&emsp;&emsp;&emsp;&emsp; Самыми надёжными оказались люди с целью приобретения недвижимости.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ: Пропуски в данном датасете были обнаружены лишь в колонках рабочих дней и уровня дохода. Причиной появления этих пропусков мог быть простой недостаток сведений о клиентах, который может быть вызван как человеческим фактором, так и техническими моментами.*

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ: Заполнение пропусков медианой наименее пагубно влияет на дисперсию набора значений, что позволяет лишний раз не терять строки датасета, при этом сохраняя необходимую для анализа достоверность данных.*

### Шаг 4: общий вывод.

**На основе результатов исследования можно сделать вывод, что подходящими заёмщиками для банка являются:**  
&nbsp;-Семьи без детей, предпочтительно вдовы/вдовцы  
&nbsp;-Люди, желающие взять кредит на недвижимость  
&nbsp;-Люди с уровнем дохода в диапазоне 30-50 тыс. рублей  

Идеальным вариантом станет комбинация из перечисленных критериев.